# Hướng dẫn cấu hình API URL cho AuthFE:
# Khi chạy Local: VITE_API_URL=http://localhost:3000
# Khi Deploy Production (Vercel / Netlify / Render): VITE_API_URL=https://<tên-app-backend>.onrender.com
VITE_API_URL=http://localhost:3000

